.nameLayer {
  max-width: 800px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes css_anime {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes reverse_css_anime {
  from {
    stroke-dashoffset: -1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.stroke {
  animation: css_anime 3s linear normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation: css_anime 3s linear normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
}

.reverseStroke {
  animation: reverse_css_anime -3s linear normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation: reverse_css_anime 3s linear normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
}
